@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/kendo/js")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/kendo/css")
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("header", false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="overlay" id="loading" hidden>
        <div class="loader"></div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">ZC IT Time Tracking</a>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    var profile = ZC_IT_TimeTracking.Services.UserProfile.GetUserProfile(User.Identity.Name);
                    var name = profile.FirstName + " " + profile.LastName;
                    <li>
                        <a>Online user(s) : <b>@Membership.GetNumberOfUsersOnline()</b></a>
                    </li>
                    <li style="color:white;" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-placement="bottom" title="Your Profile"><span class="glyphicon glyphicon-user"></span> @name</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ChangePassword", "Account")">Change password</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Logout","Account")" data-toggle="tooltip" data-placement="bottom" title="LogOut"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Registration","Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
            </ul>
        </div>
    </nav>
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-default">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    @if (User.IsInRole("Admin") && User.IsInRole("Manager"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Assign</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("AssignGoal", "Home")">AssignGoal</a></li>
                                <li><a href="@Url.Action("ViewAssignGoal", "Home")">View AssignGoal</a></li>
                            </ul>
                        </li>
                    }

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Performance</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("AddPerformance", "Home")">Add Performance</a></li>
                            <li><a href="@Url.Action("ViewPerformance", "Home")">View Performance</a></li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">resources</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Add Resources</a></li>
                                <li><a href="#">View Resources</a></li>
                            </ul>
                        </li>*@
                </ul>
            </div>
        </nav>
    }
    <div class="container panel panel-primary">
        @RenderBody()
    </div>
</body>
</html>
