@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    @Scripts.Render("~/Content/js")
    @Styles.Render("~/Content/css")
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("header", false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="overlay" id="loading" hidden>
        <div class="loader"></div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">ZC IT Time Tracking</a>
        </div>
    </nav>
    <div class="container panel panel-primary">
        @RenderBody()
    </div>
</body>
</html>
