@model List<ZC_IT_TimeTracking.Goal_Master>
<div class="table table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Quarter</th>
                <th>Year</th>
                <th>Unit of Measurement</th>
                <th>Measurement Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (Goal_Master goal in Model)
            {
                i++;
                <tr>

                    <td>@i</td>
                    <td>@goal.GoalTitle</td>
                    <td>@goal.GoalDescription</td>
                    <td>@goal.Goal_Quarter.GoalQuarter</td>
                    <td>@goal.Goal_Quarter.QuarterYear</td>
                    <td>@goal.UnitOfMeasurement</td>
                    <td>@goal.MeasurementValue</td>
                    <td><span class="glyphicon glyphicon-eye-open" style="cursor:pointer;" onclick="ViewGoal(@goal.Goal_MasterID)"></span>&nbsp;<span class="glyphicon glyphicon-pencil" style="cursor:pointer;" onclick="EditGoal(@goal.Goal_MasterID)"></span>&nbsp;<span class="glyphicon glyphicon-remove" style="cursor:pointer;" onclick="DeleteGoal(@goal.Goal_MasterID)"></span></td>
                </tr>
            }
        </tbody>
    </table>    
</div>
