@{
    ViewBag.Title = "Goal assigned to resource";
}
@using ZC_IT_TimeTracking.BusinessEntities.Model
<div class="row">
    <h3>Goal Assigned To Resource</h3>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <label class="col-md-3 control-label">Team</label>
            <div class="col-md-3">
                @Html.DropDownList("TeamName", new SelectList(ViewBag.Team, "TeamID", "TeamName"), "----Select Team-----", new { @class = "form-control col-md-4" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Resources</label>
            <div class="col-md-3">
                <select name="TeamMemberName" id="TeamMemberName" class="form-control col-md-4">
                    <option value="">--Select TeamMember--</option>
                </select>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-md-1 control-label">Resources</label>
                <div class="col-md-3">
                    @Html.DropDownList("ResourceID", new SelectList(ViewBag.Resource, "ResourceID", "Name"), "----Select Resource-----", new { @class = "form-control col-md-4" })
                </div>
            </div>*@
        <div class="form-group">
            <form role="form" class="form-inline" method="post">
                <input type="hidden" id="ResId" name="ResId" />
                <div class="col-md-3">
                    <button class="btn btn-default" type="submit">Find</button>
                </div>
            </form>
        </div>
    </div>
    @if (ViewBag.AllGoalResourse != null)
    {
        var AllGoal = ViewBag.AllGoalResourse as List<ResourceGoalModel>;
        int TotalWeight = AllGoal.Sum(s => s.Weight);
        <table class="table">
            <tr>
                <th>Resource Goal Id</th>
                <th>Goal Title</th>
                <th>Weight</th>
                <th>Action</th>
            </tr>
            @foreach (var dt in ViewBag.AllGoalResourse)
            {
                <tr>
                    <td>@dt.Resource_GoalID</td>
                    <td>@dt.GoalTitle</td>
                    <td>@dt.Weight</td>
                    <td>
                        <span class="glyphicon glyphicon-pencil" style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="Edit Assigned Goal" onclick="EditAssignedGoalWight(@dt.Resource_GoalID)">&nbsp;</span>
                        <span class="glyphicon glyphicon-remove" style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="Delete Assigned Goal" onclick="DeleteAssignedGoalWeight(@dt.Resource_GoalID)"></span>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" align="center">
                    <h4>Total Weight: @TotalWeight</h4>
                    @if (TotalWeight != 100)
                    {
                        <div class="bg-danger">Total weight must be 100!</div>
                    }
                </td>
            </tr>
        </table>
    }
    else if (ViewBag.ResId != null)
    {
        <h3>There is no goal assigned to selected resource!</h3>
    }
    else
    {
        <div><p class="bg-warning">Please select Resouces From the Above List</p></div>
    }

    <div class="form-group">
        <div class="col-md-12">
            <button type="button" class="form-group btn btn-primary" style="float:right;margin-bottom:10px" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Back</button>
        </div>
    </div>
    @*<h3>Resource Assigned to Goal</h3>
        <table>
            <tr>
                <th>GoalID</th>
                <th>ResourceId</th>
                <th>Weight</th>
            </tr>

            @foreach (var dt in ViewBag.AllResourceGoal)
            {
                <tr>
                    <td>@dt.Goal_MasterID</td>
                    <td>@dt.ResourceID</td>
                    <td>@dt.Weight</td>
                </tr>
            }
        </table>*@
</div>
