@model ZC_IT_TimeTracking.ViewModels.RoleViewModel
@{
    ViewBag.Title = "Create Role";
    var roleList = new ZC_IT_TimeTracking.Services.Role.RoleService().GetAvailableRoles();
}
@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
@Html.ValidationSummary()
@using (Html.BeginForm("CreateRole", "Account", FormMethod.Post, new { @class = "form-horizontal", required="required" }))
{
    <div class="form-group required">
        @Html.LabelFor(m => m.RoleName, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-3">
            <input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="Create Role" />
            <input type="reset" name="reset" id="reset" class="btn btn-default" />
        </div>
    </div>
}
<div class="row">
    @if (roleList.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Available Roles</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var role in roleList)
                    {
                        <tr>
                            <td>@role</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    }
    else
    {
        <h3>No Roles Available</h3>
    }
</div>